.duo-bg-red {
  background-color: #ff0000;
}

.duo-bg-orange {
  background-color: #ff9600;
}

.duo-bg-yellow {
  background-color: #ffbc00;
}

.duo-bg-green {
  background-color: #58CC02;
}

.duo-bg-blue {
  background-color: #1cb0f6;
}

.duo-bg-purple {
  background-color: #5c6cfc;
}


