nav > ul > li > a {
  min-width: 0 !important;
}

.shopping-cart-product-container {
  width: 300px !important;
}

.shopping-cart-product-container > div {
  display: block !important;
  padding: 15px !important;
}

.image-container > img {
  margin: auto;
}

.product-text-container > div > button {
  min-width: 100px;
}

@media screen and (min-width: 768px) {
  .shopping-cart-product-container {
    width: 75% !important;
  }

  .shopping-cart-product-container > div {
    display: flex !important;
  }

  .image-container > img {
    width: 125px;
    height: 125px;
  }
}
