.product-content-container {
  display: flex;
  justify-content: space-around;
}

.image-container > img {
  width: fit-content;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
}

.buttons-container {
  display: flex;
  justify-content: center;
}
