nav > ul > li > a {
  min-width: 0 !important;
}

.content > h2,
.content > p {
  width: 100% !important;
}

.image-text-container {
  display: block !important;
}

.image-container {
  width: 100% !important;
}

.image-container > img {
  margin: auto;
}

.text-container {
  padding: 0 !important;
  margin: auto;
  width: 100% !important;
}

@media screen and (min-width: 768px) {
  .content > p {
    width: 75% !important;
  }

  .basic-container {
    width: 75% !important;
  }

  .image-text-container {
    display: flex !important;
  }

  .image-container {
    padding-top: 16px;
  }

  .text-container {
    padding-left: 2rem !important;
  }
}
