.b-1 {
  border: 0.25rem solid;
}

.b-2 {
  border: 0.5rem solid;
}

.b-3 {
  border: 0.75rem solid;
}

.b-4 {
  border: 1rem solid;
}

.b-5 {
  border: 1.25rem solid;
}

.b-6 {
  border: 1.5rem solid;
}

.b-7 {
  border: 1.75rem solid;
}

.b-8 {
  border: 2rem solid;
}

.b-radius-1 {
  border-radius: 1px;
}

.b-radius-2 {
  border-radius: 5px;
}

.b-radius-3 {
  border-radius: 10px;
}

.b-radius-4 {
  border-radius: 15px;
}

.b-radius-5 {
  border-radius: 20px;
}
