.text-red {
  color: #ff0000;
}

.text-orange {
  color: #ff9600;
}

.text-yellow {
  color: #ffbc00;
}

.text-green {
  color: #58cc02;
}

.text-blue {
  color: #1cb0f6;
}

.text-purple {
  color: #5c6cfc;
}

.text-black {
  color: black;
}

.text-grey {
  color: grey;
}

.text-white {
  color: white;
}

.bg-red {
  background-color: #ff0000;
}

.bg-orange {
  background-color: #ff9600;
}

.bg-yellow {
  background-color: #ffbc00;
}

.bg-green {
  background-color: #58cc02;
}

.bg-blue {
  background-color: #1cb0f6;
}

.bg-purple {
  background-color: #5c6cfc;
}

.bg-grey {
  background-color: lightgray;
}

.bg-white {
  background-color: white;
}

.b-red {
  border-color: #ff0000;
}

.b-orange {
  border-color: #ff9600;
}

.b-yellow {
  border-color: #ffbc00;
}

.b-green {
  border-color: #58cc02;
}

.b-blue {
  border-color: #1cb0f6;
}

.b-purple {
  border-color: #5c6cfc;
}

.b-grey {
  border-color: grey;
}

.b-dark-red {
  border-color: #ca0000;
}

.b-dark-orange {
  border-color: #c57300;
}

.b-dark-yellow {
  border-color: #c69100;
}

.b-dark-green {
  border-color: #49a403;
}

.b-dark-blue {
  border-color: #1586ba;
}

.b-dark-purple {
  border-color: #4854c7;
}

.b-dark-grey {
  border-color: darkgray;
}

.text-light {
  color: white;
}
