.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.overflow-hidden {
  overflow: hidden;
}

.object-cover {
  object-fit: cover;
}
