.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.overflow-hidden {
  overflow: hidden;
}

.object-cover {
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .md-d-flex {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .lg-d-flex {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .xl-d-flex {
    display: flex;
  }
}
