.fa-bg-grey {
  background-color: #f0f1f3;
}

.fa-bg-yellow {
  background-color: #ffd43b;
}

.fa-bg-blue {
  background-color: #74c0fc;
}

.fa-bg-green {
  background-color: #63e6be;
}

.fa-bg-pink {
  background-color: #e599f7;
}

.fa-bg-purple {
  background-color: #b197fc;
}

.fa-bg-red {
  background-color: #ff8787;
}
