/* HEIGHT */

/* PERCENTAGE */

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

/* PIXEL */

.h-25px {
  height: 25px !important;
}

.h-50px {
  height: 50px !important;
}

.h-75px {
  height: 75px !important;
}

.h-100px {
  height: 100px !important;
}

.h-125px {
  height: 125px !important;
}

.h-150px {
  height: 150px !important;
}

.h-175px {
  height: 175px !important;
}

.h-200px {
  height: 200px !important;
}

.h-225px {
  height: 225px !important;
}

.h-250px {
  height: 250px !important;
}

.h-275px {
  height: 275px !important;
}

.h-300px {
  height: 300px !important;
}

@media screen and (min-width: 768px) {
  /* HEIGHT */

  /* PERCENTAGE */

  .md-h-25 {
    height: 25% !important;
  }

  .md-h-50 {
    height: 50% !important;
  }

  .md-h-75 {
    height: 75% !important;
  }

  .md-h-100 {
    height: 100% !important;
  }

  /* PIXEL */

  .md-h-25px {
    height: 25px !important;
  }

  .md-h-50px {
    height: 50px !important;
  }

  .md-h-75px {
    height: 75px !important;
  }

  .md-h-100px {
    height: 100px !important;
  }

  .md-h-125px {
    height: 125px !important;
  }

  .md-h-150px {
    height: 150px !important;
  }

  .md-h-175px {
    height: 175px !important;
  }

  .md-h-200px {
    height: 200px !important;
  }

  .md-h-225px {
    height: 225px !important;
  }

  .md-h-250px {
    height: 250px !important;
  }

  .md-h-275px {
    height: 275px !important;
  }

  .md-h-300px {
    height: 300px !important;
  }
}
