.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: 2px underline;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.font-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.font-5xl {
  font-size: 3rem;
  line-height: 1;
}

.font-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.font-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.font-8xl {
  font-size: 6rem;
  line-height: 1;
}
