/* WIDTH */

/* PERCENTAGE */

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

/* PIXEL */

.w-25px {
  width: 25px !important;
}

.w-50px {
  width: 50px !important;
}

.w-75px {
  width: 75px !important;
}

.w-100px {
  width: 100px !important;
}

.w-125px {
  width: 125px !important;
}

.w-150px {
  width: 150px !important;
}

.w-175px {
  width: 175px !important;
}

.w-200px {
  width: 200px !important;
}

.w-225px {
  width: 225px !important;
}

.w-250px {
  width: 250px !important;
}

.w-275px {
  width: 275px !important;
}

.w-300px {
  width: 300px !important;
}

@media screen and (min-width: 768px) {
  /* WIDTH */

  /* PERCENTAGE */

  .md-w-25 {
    width: 25% !important;
  }

  .md-w-50 {
    width: 50% !important;
  }

  .md-w-75 {
    width: 75% !important;
  }

  .md-w-100 {
    width: 100% !important;
  }

  /* PIXEL */

  .md-w-25px {
    width: 25px !important;
  }

  .md-w-50px {
    width: 50px !important;
  }

  .md-w-75px {
    width: 75px !important;
  }

  .md-w-100px {
    width: 100px !important;
  }

  .md-w-125px {
    width: 125px !important;
  }

  .md-w-150px {
    width: 150px !important;
  }

  .md-w-175px {
    width: 175px !important;
  }

  .md-w-200px {
    width: 200px !important;
  }

  .md-w-225px {
    width: 225px !important;
  }

  .md-w-250px {
    width: 250px !important;
  }

  .md-w-275px {
    width: 275px !important;
  }

  .md-w-300px {
    width: 300px !important;
  }
}

/* MIN WIDTH */

/* PERCENTAGE */

.min-w-0 {
  min-width: 0 !important;
}

.min-w-25 {
  min-width: 25% !important;
}
.min-w-50 {
  min-width: 50% !important;
}

.min-w-75 {
  min-width: 75% !important;
}

.min-w-100 {
  min-width: 100% !important;
}

/* PIXEL */

.min-w-25px {
  min-width: 25px !important;
}
.min-w-50px {
  min-width: 50px !important;
}

.min-w-75px {
  min-width: 75px !important;
}

.min-w-100px {
  min-width: 100px !important;
}

.min-w-125px {
  min-width: 125px !important;
}

.min-w-150px {
  min-width: 150px !important;
}

.min-w-175px {
  min-width: 175px !important;
}

.min-w-200px {
  min-width: 200px !important;
}

.min-w-225px {
  min-width: 225px !important;
}
.min-w-250px {
  min-width: 250px !important;
}

.min-w-275px {
  min-width: 275px !important;
}

.min-w-300px {
  min-width: 300px !important;
}

@media screen and (min-width: 600px) {
  .sm-min-w-0 {
    min-width: 0 !important;
  }

  .sm-min-w-25 {
    min-width: 25% !important;
  }
  .sm-min-w-50 {
    min-width: 50% !important;
  }

  .sm-min-w-75 {
    min-width: 75% !important;
  }

  .sm-min-w-100 {
    min-width: 100% !important;
  }
}

/* MAX WIDTH */

/* PERCENTAGE */

.max-w-0 {
  max-width: 0 !important;
}

.max-w-25 {
  max-width: 25% !important;
}
.max-w-50 {
  max-width: 50% !important;
}

.max-w-75 {
  max-width: 75% !important;
}

.max-w-100 {
  max-width: 100% !important;
}

/* PIXEL */

.max-w-25px {
  max-width: 25px !important;
}
.max-w-50px {
  max-width: 50px !important;
}

.max-w-75px {
  max-width: 75px !important;
}

.max-w-100px {
  max-width: 100px !important;
}

.max-w-125px {
  max-width: 125px !important;
}
.max-w-150px {
  max-width: 150px !important;
}

.max-w-175px {
  max-width: 175px !important;
}

.max-w-200px {
  max-width: 200px !important;
}

.max-w-225px {
  max-width: 225px !important;
}
.max-w-250px {
  max-width: 250px !important;
}

.max-w-275px {
  max-width: 275px !important;
}

.max-w-300px {
  max-width: 300px !important;
}
